.AppBar{
  display: 'flex';
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start !important;
}

.logo_karina{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo_karina span{
  font-weight: bold;
  font-size: 8px;
  font-family: 'Nanum Myeongjo', serif;
}

.logo_karina img {
  top: 25px;
  width: 1.5rem;
  height: auto;
}

.css-hyum1k-MuiToolbar-root {
  padding-left: 0px !important; 
}

/* Burguer Menu*/

/* Position and sizing of burger button */

.bm-burger-button {
  background-color: #fb3;
  border-radius: 50%;
  position: fixed;
  width: 35px;
  height: 35px;
  left: 30px;
  top: 20px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-burger-bars-hover {
  background: #a90000;
}

.bm-cross-button {
  height: 35px;
  width: 35px;
}

.bm-cross {
  background: black;
}

/* margin of bar menu: Important to modify in production */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  margin-left: -60px;
}

.bm-menu {
  background: var(--main-bg-color);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon_nav{
  margin-right: 5px;
  width: 2rem !important;
  height: auto !important;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: black;
  margin-bottom: 3rem;
  text-decoration: none;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav_logo_karina{
  margin-top: 5rem;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}

.nav_logo_karina span{
  font-weight: bold;
  font-size: 20px;
  font-family: 'Nanum Myeongjo', serif;
}

.nav_logo_karina img{
  width: 3rem;
  height: auto;
}

.nav-span{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}