.fondo_contacto{
    background-image: linear-gradient(to top, rgba(204, 165, 80, 0.404) 0%, rgba(221, 245, 0, 0.404) 100%), url(../../../../img/contacto.webp);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.contacto_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fondo_contacto h1{
    font-size: 2.2rem;
    font-weight: 500;
    font-family: 'Raleway', sans-serif;
    color: rgba(0, 0, 0, 0.849);
}
  
.fondo_contacto p{
    color: rgba(0, 0, 0, 0.849);
    font-weight: 400;
}